<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD_PrimSem2017_Noite.Properties.Settings.fatec_noiteConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=1234;persistsecurityinfo=True;database=fatec_noite"
            providerName="MySql.Data.MySqlClient" />
        <add name="BD_PrimSem2017_Noite.Properties.Settings.fatec_noiteConnectionString1"
            connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=fatec_noite"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>